// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.auction {
    &-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-img {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .details {
            display: flex;
            flex-direction: column;

            p {
                color: #000000;
                font-weight: 500;
                font-size: 18px;
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 30px;
                padding-top: 15px;

                .header {
                    ul {
                        li {
                            color: #000000;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    &-area {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .bidding {
            &-area {
                padding: 30px;
                width: 50%;
    
                h4 {
                    margin-bottom: 15px;
                }
    
                &--number {
                    font-size: 16px;
                    font-weight: 400;
                }
    
                &--hours {
                    font-size: 16px;
                    font-weight: 400;
                }
    
                &--highest {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }
    
                .bid {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
    
                    button {
                        background-color: $secondaryColor;
                        padding: 5px;
                        width: 150px;
                        border-radius: 6px;
                        color: #ffffff;
                        font-size: 18px;
                    }
    
                    .icon {
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        align-items: center;
                        padding: 10px;
                        background-color: $secondaryColor;
                        border-radius: 5px;
                        color: #ffffff;
                        width: 150px;
                        justify-content: center;
                        font-size: 18px;
    
                    }
                }
            }
            &-details {
                width: 50%;
            }
        }
    }
}