// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Product Card CSS

.product-card {
    &__box {
        position: relative;
        border: 1px solid #E3E3E3;
        border-radius: 8px;
        background-color: transparent;
        // padding: 55px 10px;
        text-align: center;
        margin-bottom: 1em;
    }
    &__single {
        .product-card__box {
            padding: 40px 25px;
            figure {
                margin-bottom: 0;
                img {
                    // height: 140px;
                    display: block;
                    object-fit: contain;
                }
            }
        }
    }
    &__info{
        padding: 9px 6px;
        font-size: 13px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        color: #ffffff;
        &--left {
            left: 10px;
        }
        &--right {
            right: 10px;
        }
        &--red {
            background-color: $secondaryColor;    
        }
        &--blue {
            background-color: $gray;
        }
    }
    &__content {
        &--title {
            color: $titleRed;
            font-weight: 400;
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        &--subtitle {
            color: #0C0C0C;
            margin-bottom: 14px;
            font-size: 14px;
            font-weight: 400;
        }
        &--price {
            color: $primaryColor;
            font-size: 16px;
            font-weight: 600;
            del {
                opacity: 0.2;
                font-weight: 400;
            }
        }
    }
}

// Responsive

@include breakpoint-max(1200px) {
    .product-card__box {
        // padding: 70px 20px;
    }
}
@include breakpoint-max(767px) {
    .product-card__info {
        padding: 8px 0px;
        font-size: 10px;
        width: 30px;
        height: 30px;
    }
    .product-card__box {
        // padding: 40px 30px;
        margin-bottom: 0.7em;
    }
    .product-card {
        &__content {
            &--title {
                font-size: 12px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
    
            &--subtitle {
                margin-bottom: 10px;
                font-size: 12px;
            }
    
            &--price {
                font-size: 14px;
            }
        }
    }
}
@include breakpoint-max(400px) {
    .product-card__box {
        // padding: 25px 30px !important; 
    }
}
@include breakpoint-min(1400px) {
    .product-card__box {
        // padding: 63px 20px !important;
    }
}
@include breakpoint-min(1201px) {
    .product-card__box {
        // padding: 73px 20px;
    }
}